/* Estilos para el componente Card */
.card {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardHeader {
  font-size: 1.5em;
  margin-bottom: 8px;
  color: #333;
  display: flex;
  justify-content: center;
}
.cardContent {
  font-size: 1em;
  color: #666;
    text-align: center;
}